<config>
    <modules>
        <Stas_Info>
            <version>0.2.0</version>
        </Stas_Info>
    </modules>

    <frontend>
        <routers>
            <info>
                <use>standard</use>
                <args>
                    <module>Stas_Info</module>
                    <frontName>info</frontName>
                </args>
            </info>
        </routers>
    </frontend>

    <global>
        <models>
            <stasinfo>
                <class>Stas_Info_Model</class>
                <resourceModel>stasinfo_resource</resourceModel>
            </stasinfo>

            <stasinfo_resource>
                <class>Stas_Info_Model_Resource</class>
                <entities>
                    <myfeedback>
                        <table>my_feedback</table>
                    </myfeedback>
                </entities>
            </stasinfo_resource>
        </models>

        <resources>
            <stasinfo_setup>
                <setup>
                    <module>Stas_Info</module>
                    <class>Stas_Info_Model_Resource_Setup</class>
                </setup>
            </stasinfo_setup>
        </resources>
    </global>

</config>